@use "../base/typography" as font;
@use "../abstract/variables" as color;

.contact {
	grid-column: 3/6;

	&__list {
		list-style: disc;
		margin-bottom: 20px;
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__link {
		color: #82f9a1;
		font-weight: 600;
		letter-spacing: 1.5px;
		text-decoration: none;
	}

	&__link:hover {
		text-decoration: underline;
	}
}
