@use "../base/typography" as font;
@use "../abstract/variables" as color;

.blogs {
	grid-column: 3/7;
}

.blog {
	margin-bottom: 96px;

	&__date {
		color: #7ab6d9;
		margin-bottom: 18px;
		display: inline-block;
		font: 400 16px font.$font-family;
	}

	&__title {
		margin-bottom: 14px;
		color: color.$primary-text-color;
		font: 700 24px/37px font.$font-family;
	}

	&__desc {
		margin-bottom: 25px;
		color: color.$primary-text-color;
		font: 400 18px/28px font.$font-family;
	}

	&__blog-link {
		color: #7ab6d9;
		text-decoration: none;
		transition: color 0.1s;
		font: 400 16px font.$font-family;
	}

	&__blog-link:hover {
		color: color.$hover-color;
	}
}
