@use "../base/typography" as font;
@use "../abstract/variables" as color;

.contact {
	&__list {
		list-style: disc;
		margin-left: 20px;
		margin-bottom: 20px;
		color: color.$primary-text-color;
		font: 400 18px/28px font.$font-family;
	}

	&__link {
		color: #82f9a1;
		font-weight: 600;
		letter-spacing: 1.5px;
		text-decoration: none;
	}

	&__link:hover {
		text-decoration: underline;
	}

	@media screen and (max-width: 905px) {
		&__list {
			font-size: 16px;
			line-height: 26px;
		}
	}
}
