@use "../base/typography" as font;
@use "../abstract/variables" as color;

.blog-words {
	margin-bottom: 30px;
	color: color.$primary-text-color;
	font: 400 19px/32px font.$font-family;

	@media screen and (max-width: 905px) {
		font-size: 16px;
		line-height: 26px;
	}
}

.blog-sub-title {
	margin-bottom: 20px;
	color: color.$primary-text-color;
	font: 500 24px font.$font-family;

	@media screen and (max-width: 905px) {
		font-size: 18px;
		line-height: 26px;
	}
}

.blog-link {
	color: color.$hover-color;
}

.blog-bold {
	font-weight: 700;
}

pre {
	overflow-x: auto;
	padding-left: 28px;
	padding-right: 28px;
	margin-bottom: 60px;
	border-radius: 10px;
	word-wrap: break-word;
	border: 2px solid #8892b0;
	background-color: #1c2c35;
	box-shadow: 11px 11px 1px 1px rgb(136, 146, 176);

	@media screen and (max-width: 628px) {
		box-shadow: none;
		padding-left: 20px;
		padding-right: 20px;
	}
}

code {
	white-space: pre-wrap;
	font: 400 18px/29px monospace;
	color: color.$primary-text-color;

	@media screen and (max-width: 905px) {
		font-size: 16px;
		line-height: 26px;
	}
}
