@use "../base/typography" as font;
@use "../abstract/variables" as color;

.jumbotron {
	margin-bottom: 106px;

	&__headline {
		color: #b0fbbc;
		margin-bottom: 42px;
		font: 700 48px/44px font.$font-family;
		text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
	}

	&__desc {
		color: color.$primary-text-color;
		font: 400 italic 22px/32px font.$font-family;
	}

	@media screen and (max-width: 905px) {
		&__headline {
			font-size: 30px;
			margin-bottom: 20px;
		}

		&__desc {
			font-size: 20px;
		}
	}
}

.latest-blog {
	margin-bottom: 100px;

	&__title {
		margin-bottom: 36px;
		color: color.$primary-text-color;
		font: 700 24px/38px font.$font-family;
	}

	&__list {
		margin-bottom: 30px;
	}

	&__link {
		margin-bottom: 12px;
		display: inline-block;
		text-decoration: none;
		transition: color 0.1s;
		color: color.$primary-text-color;
		font: 500 20px font.$font-family;
	}

	&__date {
		color: #5e8ca7;
		display: block;
		font: 500 17px font.$font-family;
	}

	&__all {
		text-align: end;
		margin-top: 12px;
		align-items: center;
		display: inline-flex;
		text-decoration: none;
		transition: color 0.1s;
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__all:hover,
	&__link:hover {
		color: color.$hover-color;
	}

	&__all-icon {
		margin-left: 8px;
	}
}

.projects {
	gap: 24px;
	display: grid;
	margin-bottom: 128px;
	grid-template-columns: repeat(6, 1fr);

	&__title {
		margin-bottom: 20px;
		color: color.$primary-text-color;
		font: 700 24px font.$font-family;
	}
}

.project {
	padding: 32px 34px;
	border-radius: 8px;
	background-color: #1c2c35;

	&__name {
		margin-bottom: 14px;
		color: color.$primary-text-color;
		font: 500 24px font.$font-family;
	}

	&__description {
		margin-bottom: 46px;
		color: color.$primary-text-color;
		font: 400 16px/26px font.$font-family;
	}

	&__repository-link {
		font-size: 16px;
		padding: 6px 32px;
	}

	&__more {
		width: 100%;
		display: flex;
		font-size: 18px;
		margin-top: 20px;
		padding-top: 12px;
		align-items: center;
		grid-column: span 6;
		padding-bottom: 12px;
		justify-content: center;
	}

	&__more svg {
		margin-right: 12px;
	}

	@media screen and (max-width: 905px) {
		&__more {
			font-size: 16px;
			line-height: 26px;
		}
	}
}

.project-sm {
	grid-column: span 3;

	@media screen and (max-width: 730px) {
		grid-column: span 6;
	}
}

.project-lg {
	grid-column: span 6;
}
