@use "../base/typography" as font;
@use "../abstract/variables" as color;

.mt-50 {
	margin-top: 50px;
}

.head-title {
	margin-bottom: 30px;
	color: color.$primary-text-color;
	font: 700 40px font.$font-family;

	@media screen and (max-width: 905px) {
		font-size: 34px;
	}
}

.btn {
	border-radius: 6px;
	text-decoration: none;
	color: color.$primary-text-color;
	font: 500 16px font.$font-family;
	border: 2px solid rgba(124, 201, 255, 0.41);
	transition: color 0.1s, background-color 0.1s;
}

.btn:hover {
	color: color.$hover-color;
	background-color: #243b4a;
}

.framework {
	color: #1da1f2;
	font-weight: 600;
	letter-spacing: 1px;
}

.hosted {
	color: #82f9a1;
	font-weight: 600;
	letter-spacing: 1px;
}

.project-border-primary {
	border-left: 10px solid #cca9f4;
}

.project-border-secondary {
	border-left: 10px solid #81f59b;
}

.project-border-danger {
	border-left: 10px solid #d9534d;
}

.project-border-yellow {
	border-left: 10px solid #37ee1f;
}

.project-border-info {
	border-left: 10px solid #c9e2f0;
}
