@use "../base/typography" as font;
@use "../abstract/variables" as color;

.footer {
	display: flex;
	margin-top: 300px;
	align-items: center;
	justify-content: space-between;

	&__description {
		display: flex;
		flex-direction: column;
	}

	&__design-by-wrapper {
		margin-bottom: 6px;
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__tech {
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__design-by {
		color: #82f9a1;
		text-decoration: none;
	}

	&__design-by:hover {
		text-decoration: underline;
	}

	&__social-media-wrapper:first-child {
		margin-right: 28px;
	}

	&__social-media-wrapper {
		text-decoration: none;
	}

	@media screen and (max-width: 905px) {
		&__tech,
		&__design-by-wrapper {
			font-size: 16px;
			line-height: 26px;
		}
	}

	@media screen and (max-width: 599px) {
		flex-direction: column-reverse;

		&__social-media {
			margin-bottom: 30px;
		}

		&__tech,
		&__design-by-wrapper {
			text-align: center;
		}
	}
}
