@use "../base/typography" as font;
@use "../abstract/variables" as color;

.footer {
	display: flex;
	grid-column: 3/8;
	margin-top: 300px;
	align-items: center;
	justify-content: space-between;

	&__description {
		display: flex;
		flex-direction: column;
	}

	&__design-by-wrapper {
		margin-bottom: 8px;
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__tech {
		color: color.$primary-text-color;
		font: 400 18px font.$font-family;
	}

	&__design-by {
		color: #82f9a1;
		text-decoration: none;
	}

	&__design-by:hover {
		text-decoration: underline;
	}

	&__social-media-wrapper:first-child {
		margin-right: 28px;
	}

	&__social-media-wrapper {
		text-decoration: none;
	}
}
